
/* x Button dialog */
/*ViewEncapsulation.NONE*/

dialog {
  margin-top: 60px;
}

dialog[id="ModalDialog"] {
  border:2px solid blue;
  font-weight:bold;
}


/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 100%;
  }

  /* Style for the form */
  div[id=Register] legend{
    font-family: sans-serif;
    size: 20px;
    
  }

  div[id=Register] p{
    font-family: sans-serif;
    size: 20px;
  }

.form .message{
  margin: 15px 0 0;
  color:aliceblue;
  font-size: 12px;
}

.form .message a{
  color: #4CAF50;
  text-decoration: none;
}

